#login-header{
	box-shadow: 0 1px 8px rgba(50, 50, 50, 0.74);
	width: 100%;
	z-index: 99999;
}
#login-header .main-header{
	min-height: 100px;
}
#login-header .main-header ul{
	margin-bottom: 0;
}
#login-header .main-header .logo{
	margin-left: 0;
}
#form_editor {
    margin-left: 0 !important;
    padding-top: 70px;
}
#form_editor #edt-logo-wrapper {
    width: auto;
    height: auto;
    margin-bottom: 40px;
    text-align: right;
}
#form_editor #form_tools .option-content .custom-upgrade {
    font-weight: normal;
}
#form_editor #form_tools .option-arrow {
    top: 10px;
}
#form_editor #form_tools .option-content p {
    margin-bottom: 5px;
    font-family: "proxima_novasemibold", sans-serif;
}
#form_editor #form_tools .option-content .opt-color-options li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}
#form_editor #form_tools .form-option .font-chooser-wrap .font-chooser {
    position: relative;
    top: 0;
    height: 33px;
    left: 0;
    width: 100%;
    opacity: 1;
    cursor: pointer;
    color: #333;
    margin-top: 0;
}
#form_editor #form_tools .form-option .font-chooser-wrap .font-chooser option {
    color: #333;
}
#form_editor #form_tools .option-content .background-image-chooser {
    margin-bottom: 0;
}
#form_tools * {
    font-family: "proxima_nova_rgregular", sans-serif;
}
#form_tools i[class^="icon-"], #form_tools i[class*=" icon-"] {
    font-family: icomoon;
}
.opt-color-options {
    margin-bottom: 0;
    margin-top: 10px;
}
.main-header {
    background: #0e7ac4;
    min-height: 140px;
}
.main-header .logo {
    margin-left: 9px;
}
.main-header .logo img {
    margin: 16px 0 -18px;
}
.user-nav {
    text-align: right;
    margin-top: 0;
    margin-right: -17px;
}
.user-nav .wel-name {
    color: white;
    font-family: "proxima_novasemibold", sans-serif;
}
.user-nav #user-img {
    position: relative;
    display: inline-block;
    padding: 13px 2px 0 15px;
    padding-right: 18px;
    cursor: pointer;
}
.user-nav #user-img img {
    width: 34px;
    height: 34px;
    border: 2px solid #20a4ff;
}
.user-nav #user-img .arrow-down {
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 28px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}
.user-nav #user-img #fg-dropdown {
    display: none;
    position: absolute;
    z-index: 9999;
    right: -5px;
    top: 38px;
    width: 190px;
    padding: 20px 0 15px;
}
.user-nav #user-img #fg-dropdown .fg-dropdown-inner {
    background: #ffffff;
    border: 1px solid #dadada;
    border-bottom: 3px solid #0e7ac4;
    border-radius: 5px;
    font-size: 15px;
}
.user-nav #user-img #fg-dropdown .fg-dropdown-inner ul {
    list-style: none;
}
.user-nav #user-img #fg-dropdown .fg-dropdown-inner ul a {
    background: white;
    display: block;
    border-bottom: 1px dashed #eee;
    text-align: left;
    color: #333333;
    line-height: 1;
    padding: 10px;
}
.user-nav #user-img #fg-dropdown .fg-dropdown-inner ul a:hover {
    text-decoration: none;
    background: #f1f1f1;
}
.user-nav #user-img #fg-dropdown .fg-dropdown-inner ul a.first {
    border-radius: 8px 8px 0 0;
}
.user-nav #user-img #fg-dropdown .fg-dropdown-inner ul a.last {
    border-bottom: none;
}
.main-tab {
    float: right;
    margin-right: 15px;
}
.main-tab li {
    margin-right: 2px;
    list-style: none;
    display: inline-block;
}
.main-tab li a {
    min-width: 136px;
    padding: 12px 26px 8px;
    border-radius: 8px 8px 0 0;
    line-height: 1;
    display: inline-block;
    color: white;
    background: #20a4ff;
    font-family: "proxima_nova_rgregular", sans-serif;
    font-size: 17px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}
.main-tab li a:hover {
    background: #44b3ff;
}
.main-tab li a.active {
    color: #292929;
    background: white;
}
#form_editor #form_tools .option-content .background-image-chooser li:nth-child(5n+5), #form_editor #form_tools .option-content .template-chooser li:nth-child(5n+5) {
	margin-right: 3px;
}
#form_editor #form_tools .option-content .background-image-chooser li:nth-child(6n+6), #form_editor #form_tools .option-content .template-chooser li:nth-child(6n+6) {
	margin-right: 0;
}
#form_editor #form_tools{
	float: right;
	width: 286px;
}
#form_editor #form_tools .option-content .background-image-chooser, #form_editor #form_tools .option-content .template-chooser{
	width: auto;
}
#form_editor #form_tools .form-option h3{
	box-sizing: border-box;
	width: auto;
	display: block;
}

#form_editor .icon-arrow-left5{
	position: relative;
	top: 2px;
	margin-right: -5px;
	left: -5px;
}
#form_editor #form_tools .save-changes, #form_editor #form_tools .save-changes-loading{
	background: none;
	padding: 0;
}

#form_editor #form_tools .custom-extension{
    padding: 0 14px 14px 14px;
}
#form_editor #form_tools .custom-extension .inner-ext{
    padding: 15px;
    background: #EDF7FF;
    border: 1px solid #c3ecf8;
    box-shadow: 0 2px 0 #e2f8ff;
    border-radius: 3px;
}
#form_editor #form_tools .custom-extension .inner-ext p{
    font-family: "proxima_nova_rgregular", sans-serif;
    margin-bottom: 14px;
}