/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 17, 2015, 10:59:30 AM
    Author     : Pankaj
*/

/*==================================Css for select for country user in keyword popup====================================
========================================================================================================================*/
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 6px 10px 7px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 21px;
}
.chosen-container a {
    cursor: pointer;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
}
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}
.chosen-container .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}
.chosen-container-single .chosen-search input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1px 0;
    padding: 8px 20px 8px 10px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: #fff url('../images/icon-search.png') no-repeat 97% center;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}
.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}
.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}

.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}
.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}

.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
/*========================== coding for alert message for project already exist=============================
========================================================================================================*/
.alertmessage{
    margin-top: 10px;
  color:rgba(217, 83, 79, 0.84);
    display:none;
}
/*========================== coding for alert message for forgotpassword.php=============================
========================================================================================================*/
.alertmessage2{
     margin-top: 10px;
  //  color:red;
       color:#8AC153;
    display:none;
}
#graphpopup .modal-dialog .modal-content{
    width:120%;
    margin-top: -25%;

}


#projectname12 {
    font-size: 20px;
    float: left;
    margin-right: 30px;
}

/*======================================= project form to ad project==========================================
==============================================================================================================*/

#projectform{
    display: none;
}

/*=======================================Css for table where data written===========================================
==============================================================================================================*/

#urlheading{
    border-bottom: 1px #BDADAD solid;
}
/*=======================================Css for add url buton=================================================
==============================================================================================================*/
#addurlbutton{
   // min-width:40%;
    background: #e4f3f6;
}
#addurlbuttonkey{
  //  float: right;
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}

/*=======================================================css for cross button======================================================
================================================================================================================================*/
#crossbuttonimg{
    display:inline;
    width:15px;
    height:15px;
    float:right;
    margin-right:20px;
    margin-top:6px;
}
/*==============================================css for image for login popup======================================================
================================================================================================================================*/
#loginpopupimage{
    display:inline;
    float:left;
    width: 25%;
    padding-top: 2%;
    
}
/*==============================================css for modal for popup==========================================================
================================================================================================================================*/

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    //width: auto;
    //margin: 10px;
    //top: 50%;
    // left: 50%; 
    margin: 171px auto 0 auto;
    z-index: 99999;
}

.modal-dialog-center { 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;



}


.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
  //  filter: alpha(opacity=0);
  //  opacity: 0;
}
.modal-backdrop.in {
    //filter: alpha(opacity=50);
    //opacity: .5;
}
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    //opacity: 0.4;
}
[role="button"] {
    cursor: pointer;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
///////////// Sidebar Section ////////////////

/*=========================================css for responce for suggestion for cities============================================
================================================================================================================================*/

#ajax_response {
    border: 1px solid #8789E7;
    background: #FFFFFF;
  //  position: absolute;
    display: none;
    padding: 2px 2px;
   // top: auto;
}
.list {
    padding: 0px 0px;
    margin: 0px;
    list-style: none;
}
.list li a {
    text-align: left;
    padding: 2px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000000;
}
.list li a.selected{
      background-color: #428BCA;
           color: #fff;
  }
/*=========================================css for submit button for url popup==================================================
================================================================================================================================*/
#submiturl{
    margin-left: 0px;
    margin-top: 10px;
    border:1px #000 solid;
}

/*=========================================css for submit button for keyword popup============================================
================================================================================================================================*/
#submitkeyword{
    margin-bottom: 20px;
    margin-top: 11px;
   border:1px #000 solid;
}
.projectname12{
  //  font-size: 50px;
  //  color: red;
  //  float: left;
  //  margin-right: 10px;
}
.keyrank2{
    display:none;
    background-color:#F9F0C6;
    color:black;
}
.keyrank{
    display:none;
    background-color:#F9F0C6;
    color:black;
}
.main-container #sidebar .all-options a{
    clear: left;
}
div#loding{
display:none;    
}

#chartdiv {#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}	
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}	
#emailmsg{
    display: none;
    padding: 15px;
    color: white;
    text-align: center;
    background-color:#8AC153;
}
#animatetext{
    padding:20px 20px;
    background-color:white;
    margin-bottom:20px;
}
/*=========================================css for loaders before loading project============================================
================================================================================================================================*/
#projdetailloding{
    display:none;
}

div#popupcodeurl #popupstyle{
    margin-top: 10px;
    margin-bottom: 20px;
}
/*=========================================css for error message for addurl popup============================================
================================================================================================================================*/
#wrongentrymessage{
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    background-color: rgb(240, 128, 128);
    display:none;
}
/*=========================================css for keywod already exist error message===============================================
================================================================================================================================*/
#wrongkeymessage{
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    background-color: rgb(240, 128, 128);
    display:none;
}
/*=========================================css for addurl popup loaders=======================================================
================================================================================================================================*/

#addurlloding{
    display:none;
}
/*=========================================css for error message for add url popup================================================
================================================================================================================================*/
#nourlmsg{
    display:none;
}
#urlheading{
    display:none;
}

/*=========================================css for logo image  ===============================================================
================================================================================================================================*/
img#logo{

   /* width: 40px; */
   /* height: 52px; */
   display: inline !important;
   margin-top: -8px;

}

@media (min-width: 1200px){
.timeline>li .timeline-image {
   width: 200px !important;
   height: 200px !important;
}

.timeline>li.timeline-inverted>.timeline-panel {
   padding: 0 100px 20px 45px !important;
}

.timeline>li .timeline-image h4 {
   margin-top: 55px;
}
}
h4.subheading {
   font-size: 20px;
}
p.text-muted{

font-size: 16px;
}

.btn-xl {
    border-color: #2cc966;
    background-color: #2cc966;
}























