/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 17, 2015, 10:59:30 AM
    Author     : Pankaj
*/

.alertmessage{
    margin-top: 10px;
  //  color:red;
       color:rgba(217, 83, 79, 0.84);
    display:none;
   
}
#graphpopup .modal-dialog .modal-content{
    width:120%;
    margin-top: -25%;
  //  position: relative;
  //  background-color: #fff;
  //  -webkit-background-clip: padding-box;
  //  background-clip: padding-box;
  //  border: 1px solid #999;
  //  border: 1px solid rgba(0, 0, 0, .2);
  //  border-radius: 6px;
  //  outline: 0;
  //  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  //  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2015, 11:17:44 AM
    Author     : Pankaj
*/
p#alertmessage{
    background-color:#e5e5e5;
    color:red;
    font-size: 25px;
 //   display:none;
}.alertmessage2{margin-top: 10px;color:#8AC153; display:none;}

#projectname12 {
    font-size: 20px;
    float: left;
    margin-right: 30px;
}

#projectform{
    display: none;
}

#urlheading{
    border-bottom: 1px #BDADAD solid;
}
#addurlbutton{
   // min-width:40%;
    background: #e4f3f6;
}
#addurlbuttonkey{
  //  float: right;
}

.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}

//================vss for cross button=========
#crossbuttonimg{
    display:inline;
    width:15px;
    height:15px;
    float:right;
    margin-right:20px;
    margin-top:6px;
}
#loginpopupimage{
    display:inline;
    float:left;
    width: 25%;
    padding-top: 2%;
    
}


[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    //width: auto;
    //margin: 10px;
    //top: 50%;
    // left: 50%; 
    margin: 171px auto 0 auto;
    z-index: 99999;
}

.modal-dialog-center { 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;



}


.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    //filter: alpha(opacity=0);
    opacity: 0.5;
}
.modal-backdrop.in {
    //filter: alpha(opacity=50);
    //opacity: .5;
}
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    //opacity: 0.4;
}
[role="button"] {
    cursor: pointer;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
///////////// Sidebar Section ////////////////

#submiturl{
    margin-left: 0px;
    margin-top: 10px;
    border:1px #000 solid;
}
#submitkeyword{
    margin-bottom: 20px;
    border:1px #000 solid;
}
.projectname12{
  //  font-size: 50px;
  //  color: red;
  //  float: left;
  //  margin-right: 10px;
}
.keyrank2{
    display:none;
    background-color:#F9F0C6;
    color:black;
}
.keyrank{
    display:none;
    background-color:#F9F0C6;
    color:black;
}
.main-container #sidebar .all-options a{
    clear: left;
}
div#loding{
display:none;    
}

#chartdiv {#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}	
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}	
#emailmsg{
    display: none;
    padding: 15px;
    color: white;
    text-align: center;
    background-color:#8AC153;
}
#animatetext{
    padding:20px 20px;
    background-color:white;
    margin-bottom:20px;
}
#wrongentrymessage{
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    background-color: rgb(240, 128, 128);
    display:none;
}  div#popupcodeurl #popupstyle {margin-top: 10px; margin-bottom: 20px;}#addurlloding{display:none;}	




























