@import "variables.scss";
body{
	background: #dddddd url('../images/repeat-bg.png') fixed repeat;
	font-family: $pnr;
	font-size: 16px;
	line-height: 28px;
}

h1,h2,h3,h4,h5,h6{ font-weight: normal; margin:0; }
h1{ color: $heading1; font-family: $pnsb; }
h2{ color: $heading2; font-family: $pnsb; font-size: 18px;}
h4{ color: $heading4; }
p{ color: $paraColor; font-size: 16px;}
ul, li{ margin: 0; padding: 0;  }
a{ cursor: pointer; }
a:hover, a:active{ text-decoration: none; outline:none; }
b, strong{ font-weight: normal; font-family: $pnsb; }
.relative{ position: relative; }
.absolute{ position: absolute; }
#nomargin{margin: 0;}
.nomargin{margin: 0;}
.nopadding{ padding-right:0; padding-left:0; }
.norightpadding{ padding-right:0; }
.noleftpadding{ padding-left:0; }
.botpadding{ padding-bottom: 150px; }

.regular{ font-family: $pnr; }
.bold{ font-family: $pnsb; }

.blue{ color: $blue-bg; }
.green{ color: $green-bg; }
.orange{ color: $orange-bg; }
.red{ color: $red-bg; }

.fg-hidden{ display: none; }
.fg-block{ display: block; }
.fg-in-block{ display: inline-block; }
.fg-link{ color: $linkColor; }
.ta-center{ text-align: center; }
.fg-left{ float:left; }
.fg-right{ float:right; }
.fg-clear{ clear: both; }

button, input[type="submit"]{
	border: 0;
	outline: 0;
	cursor: pointer;
}

// Header Style

#main-wrapper{
	margin-top: 50px;
	margin-bottom: 50px;
}

.main-header{
	background: $priColor;
	min-height: 140px;
	.logo{
		margin-left: 9px;
		img{ margin:27px 0 -9px; }
	}
}

.user-nav{
	text-align: right;
	margin-top:15px;
	margin-right:-7px;
	.wel-name{ 
		color: $white;
		font-family: $pnsb;
	}
	#user-img{
		position: relative;
		display: inline-block;
		padding: 16px 2px 0 15px;
		padding-right: 18px;
		cursor: pointer;
		img{
			width: 34px;
			height: 34px;
			border:2px solid $tab-bg;
		}

		.arrow-down {
			width: 0; 
			height: 0; 
			position: absolute;
			right: 0;
			top: 33px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $white;
		}

		// Dropdown
		#fg-dropdown{
			display: none;
			position: absolute;
			z-index: 9999;
			right: -5px;
			top: 38px;
			width: 190px;
			padding: 20px 0 15px;
			.fg-dropdown-inner{
				background: #ffffff;
				border: 1px solid #dadada;
				border-bottom: 3px solid #0e7ac4;
				border-radius: 5px;
				font-size: 15px;
				ul{
					list-style: none;
					a{
						background: $white;
						display: block;
						border-bottom: 1px dashed #eee;
						text-align: left;
						color: $blackGrey;
						line-height: 1;
						padding: 10px;
						&:hover{
							text-decoration: none;
							background: $lightGrey;
						}
						&.first{
							border-radius: 8px 8px 0 0;
						}
						&.last{
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}

.main-tab{
	float:right;
	margin-right: 25px;
	li{
		margin-right:2px;
		list-style: none;
		display: inline-block;	
		a{
			min-width:136px; 
			padding: 12px 26px 8px;
			border-radius: 8px 8px 0 0;
			line-height: 1;
			display: inline-block;
			color: $tab-text;
			background: $tab-bg;
			font-family: $pnr;
			font-size: 17px;
			text-align: center;
			text-transform: capitalize;	
			text-decoration: none;
			&:hover{
				background: $tab-hover-bg;
			}
			&.active{
				color: $tab-act-text;
				background: $tab-act-bg;
			}
		}
	}
}

//	Main Section

.main-container{
	background: $white;
	padding-left: 10px;
	padding-right: 10px;
	&.blue-bg{
		background: $sidebar-bg;
		padding-right: 0;
	}
	&.fg-form-builder{
		padding-left: 0;
		padding-right: 0;
		#right-section-wrapper{
			border-left: 0;
		}
	}
	&.nopadding{
		padding-left: 0;
		padding-right: 0;
	}
	// For Single Extension Page
	.extension-heading{
		padding:20px 0 15px;
		border-bottom: 1px dashed #dee5e7;
		margin-bottom: 24px;
		h2{
			margin-top: 24px;
			font-size: 24px;
			font-family: $pnb;
		}
		h4{
			margin-top: 4px;
			font-size: 15px;
			color: #8a8a8a;
		}
	}
	.extension-image{
		margin-bottom: 30px;
	}
	.extension-desc{
		p{
			font-size: 16px;
			line-height: 28px;
		}
		ul{
			font-size: 16px;
			padding: 0 0 0 17px;
			line-height: 28px;
		}
	}
	.extension-details{
		width: 100%;
		max-width: 305px;
		float: right;
		background: $lightGrey;
		padding: 22px 32px;
		border-bottom: 3px solid $darkGrey;
		p{
			margin-top: 9px;
		}
		ul#price-option-wrapper {
			margin:8px 0 30px;
			list-style: none; 
			li{
			list-style: none;
			margin-bottom: 9px;
				label,input{
					cursor: pointer;
				}
				input{
					position: relative;
					top: 2px;
					margin-right: 5px;
				}
			}
		}
		.licence-detail{
			text-align: center;
			font-size: 14px;
			margin: 20px 0 0;
		}
	}//	Single Extension page End
		
	#sidebar{
		margin-left: -10px;
		margin-top: 35px;
		h3{			
			padding: 12px 0;
			color: #1694bb;
			text-transform: uppercase;
			line-height: normal;
			font-size: 16px;
			font-family: $pnsb;
			margin-left: 23px;
		}
		hr{
			height: 1px;
			background: #deeff9; 
			margin:0;
			border: none;
		}
		.all-options{
			margin: 0;
			list-style: none;
			a{
				padding: 14px 12px 13px 24px;
				font-family: $pnr;
				font-size: 16px;
				line-height: normal;
				text-decoration: none;
				color: $blackGrey;
				display: block;
				&:hover{
					background: $side-hover-color;
					color: $white;
				}
				&.active{
					background: $side-hover-color;
					color: $white;
					box-shadow: inset 0 0 2px #0C9EC4;
				}
				i{ 
					margin-right: 10px;
					margin-left: -2px;
					font-size: 14px;
				}
			}
		}
		&.stuck{ 
			position: fixed; 
			top: 0;
			width: 100%;
			max-width: 255px;
			margin-top: 2px;
		}
	}

	#right-section-wrapper{
		background: $white;
		min-height: 610px;
		padding: 21px 25px 150px 25px;
		border-left: 1px solid #cbe5f4;
		&.row{ margin: 0; }
		.top-section-heading{
			h2{
				margin-top: 24px;
				font-size: 24px;
				font-family: $pnb;
			}
			h4{
				margin-top: 4px;
				font-size: 15px;
				color: #8a8a8a;
				line-height: 22px;
			}
		}

		.block-fw{
			margin-top: 35px;
			max-width: 100%; 
			padding: 22px;
			border: 1px solid #E4E4E4;
			border-bottom-width:3px;
			img{ margin-bottom: 16px; width: 100%; }
			p{ text-align: center; margin: 0 0 20px; min-height: 70px; }
		}
		.extension-block{
			margin-top: 10px;
			.block{
				float: left;
				margin-top: 35px;
				max-width: 321px;
				padding: 22px;
				border: 1px solid #E4E4E4;
				border-bottom-width:3px;
				&:nth-child(even) {
					float: right;
					&:after{
						content: ' ';
						display: table;
						clear: both;
					}
				}
				p{
					min-height: 112px;
				}
			}
			h3{
				margin-bottom: 18px;
				font-family: $pnsb;
				font-size:22px;
				text-align: center;
				color: $heading-color;
			}
		}
	}//	All Extension Page End

	//	DashBoard Page
	.form-block-wrapper{
		margin-top: 58px;
		border-bottom: 3px solid $silverGrey;
		.title-wrapper{
			position: relative;
			border-bottom: 1px solid $silverGrey;
			h1{
				position: relative;
				width: 77%;
				float: left;
				padding-bottom: 10px;
				font-size: 24px;
				color: $heading1; 
				min-height: 39px;
			}
			a{
				position: relative;
				width: 23%;
				float: right;
				font-size: 14px;
				margin-top: 2px;
				text-align: right;
			}
		}
		.form-desc{
			margin: 5px 0 12px;
			font-size: 16px;
			color: $darkSilver; 
			font-family: $pnr;
		}
		.form-desc-input{
			display: none;
			font-size: 16px;
			border: 0;
			background: #f1f1f1;
			line-height: normal;
			outline: 0;
			color: #848484;
			padding: 8px 5px 8px 8px;
			margin:1px 0 9px;
		}
		.font-icon{
			position: relative;
			top: 2px;
		}
		.form-block{
			background: #eaf4fa;
			position: relative;
			.form-preview{
				img{
					width: 230px;
					margin: 26px 0 0 23px;
					border: 3px solid #bbd3e0;
					border-bottom: none;
					border-radius: 3px 3px 0 0;
				}
			}
			.form-block-right{
				margin-left: 40px;
				h3{
					margin-top: 25px;
					font-size: 20px;
					font-family: $pnsb;
					color: #273c48;
				}
				ul{
					margin-top: 14px;
					li{
						list-style: none;
						line-height: normal;
						margin-top: 8px;
						a{
							font-size: 14px;
							color: $form-block-link;
							&:hover{
								color: $form-block-hover-link;
							}
						}
					}
				}
				.font-icon{
					margin-right: 14px;
					font-size: 12px;
				}
			}
			.tiny-menu{
				position: absolute;
				top: 26px;
				right: 0;
				a{
					position: relative;
					display: inline-block;
					background: #d9eaf3;
					box-shadow: 0 3px 2px -1px #8ca2ad;
					width: 25px;
					height: 25px;
					text-align: center;
					padding-top: 5px;
					color: #4b6a7a;
					&.first{
						width: 26px;
						margin-right: -4px;
						border-right: 1px solid #8ca2ad;
					}
					&:hover{ background: $tealBlue-hover-bg; }
					&:active{
						top: 1px;
						box-shadow: 0 2px 2px -1px #8ca2ad;
					}
				}
			}
		}
		.form-block-footer{
			padding: 18px 13px 13px 24px;
			background: #3596c9;
			a{
				line-height: 1;
				font-family: $pnsb;
				letter-spacing: 0.4px;
				margin-right: 8px;
				&.conf-ext{
					font-family: $pnr;
					font-size: 16px;
					color: #ffffff;
					letter-spacing: 0;
					margin: 6px 0 0 0;
					&:hover{
						color: $tealBlue-bg;
					}
				}
			}
			.font-icon{
				margin-right: 6px;
				font-size: 14px;
			}
			.fg-btn.small{ padding: 7px 12px 7px 10px; }
			.edit-dropdown{
				display: none;
				position: absolute;
				left: 130px;
				background: $tealBlue-bg;
				border: 1px solid #B7DDF1;
				box-shadow: 0 3px 4px -2px $tealBlue-text;   
				li{
					list-style: none;
					a{
						color: $tealBlue-text;
						font-size: 14px;
						padding: 0 25px 0 10px;
						margin: 0;
						display: block;
						line-height: 2.1;
						&:hover{
							background: $tealBlue-hover-bg;
						}
					}
				}
				&.show-menu{
					display: block;
				}
			}
		}	
	}

	.dash-right{
		margin-top: 60px;
		.info-board{
			margin-top: 46px;
			padding: 20px 12px;
			background: #f1f1f1;
			border-bottom: 3px solid #bbbbbb;
			.searchbox{
				background: $white;	
				margin-bottom: 16px;
				input{
					width: 100%;
					outline: none;
					border: none;
					line-height: normal;
					padding: 10px 14px;
				}
			}
			.info-text{
				padding-left: 2px;
				ul{
					margin-top: 5px; 
					li{
						list-style: square;
						line-height: 1.4;
						margin-top: 10px;
						margin-left: 20px;
						font-size: 14.5px;
					}
				}
			}
		}
	}
	//	Dashboard Page End
	
	//	All Messages Page
	.fw-heading{
		padding: 0 0 15px;
		h2{
			margin-top: 24px;
			font-size: 24px;
			font-family: $pnb;
		}
		h4{
			margin: 4px 2px;
			font-size: 15px;
			color: #8a8a8a;
		}
		.fg-select{
			margin-top: 32px;
			width: 240px;
		}
	}

	.all-stats{
		.col-md-3{ margin-bottom: 15px; }
		.message-stat{
			text-align: center;
			height: 116px;
			border-bottom: 3px solid #ccc;
			.stat{
				display: inline-block;
				margin-top: 28px;
				font-size: 40px;
			}
			.block-title{
				margin-top: 3px;
				display: block;
				font-size: 18px;
			}
			background: #f0f3f4;
			color: #555;
			cursor: pointer;
			&:hover{
				background: $side-hover-color;
				color: $white;
				transition: background 0.2s linear;
				border-color: #259cee;
			}
			&.active{
				background: $side-hover-color;
				color: $white;
				border-color: #259cee;	
			}
			// &.new-messages{
			// 	background: #f0f3f4;
			// 	.stat{ color: #259cee; }
			// 	.block-title{ color: #3d3d3d; }
			// }
			// &.on-hold{ background: #7266ba; border-bottom-color: #3c317e; }
			// &.replied{ background: #23b7e5; border-bottom-color: #1886a8; }
			// &.all-messages{ background: #ff8585; border-bottom-color: #d65656; }
		}
	}

	.action-btn{
		margin-top: 40px;
		padding: 8px;
		padding-left: 0;
		border: 1px solid #e5e5e5;
		border-radius: 2px;
		line-height: 38px;
		background: #f5f5f5;
		.first{
			display: inline-block;
			width: 52px;
			text-align: center;
			border-right:1px dotted #bbb;
			input[type="checkbox"]{ vertical-align: middle; }
		}
		.btn{
			display: inline-block;
			a{ 
				color: #555;
				position: relative;
				top: 1.5px;
				margin-left: 25px;
				&:nth-child(1){ margin-left: 10px; }
				&:hover{ color: $linkColor; }
			}
			i{
				font-size: 12px;
				margin-right: 6px;
			}
		}
		.search{
			position: relative;
			display: inline-block;
			float: right; 
			width: 100%;
			max-width: 300px;
			.fg-input{
				margin-top: 0; 
				border: 1px solid #e5e5e5;
				font-size: 14px;
				padding: 10px 35px 9px 10px;
				color: #888;
				&:focus{
					outline: none;
					border-color: $fg-elem-hover;
					box-shadow: 0 0 1px $fg-elem-hover;
					transition: border-color .3s linear;
				}
			}
			.search-btn{
				position: absolute;
				top: 1px;
				right: 1px;
				width: 35px;
				height: 35px;
				border: none;
				outline: none;
				background: #fff url('../images/search.png') no-repeat center center;
			}
		}
	}

	table.messages{
		width: 100%;
		margin-top: 30px;
		border: 1px solid $fg-box-border;
		table-layout: fixed;
		.icon-list2{
			font-size: 22px;
			width: 40px;
			text-align: center;
			padding-top: 4px;
			line-height: normal;
			vertical-align: middle;
		}
		.first{
			width: 52px;
			max-width: 52px;
			text-align: center;
		}
		.head{
			font-size: 15px;
			font-family: $pnsb;
			background: $fg-box-header-bg;
			color: $fg-box-header-text;
			th{
				border-right: 1px solid $fg-box-border;
				border-bottom: 1px solid $fg-box-border;
				line-height: normal;
				padding: 14px 0 12px;
				text-align: center;
			}
		}

		tr{
			padding:9px 0;
			cursor: pointer;
		}
		td, th{ 
			max-width: 170px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.row-data{
			background: #fff;
			input[type="checkbox"]{ vertical-align: middle; }
			td, td.visited, td.unread_hold, td.solve{
				padding: 10px 4px 8px;
				font-size: 15px;
				font-family: $pnr;
				border-right: 1px solid #edebeb;
				border-bottom: 1px solid #edebeb;
				text-align: center;
				&.first{ padding-left: 6px; }
				&:nth-last-child(1){ border-right: 0; }
			}
			&.unread_new{
				background: #f5f5f5;	
				.first{ box-shadow: inset 3px 0 0 #3d9ced; }
			}
			&:nth-last-child(1) td{ border-bottom: none; }
			&:hover{
				background: #fcfcfc;	
			}
		}
		tbody td a, .message-download{
			color: #333;
			&:before{
				font-family: $iconFont;
				content: "\e61a";
				color: #49c53c;
				font-size: 13px;
				margin-right: 9px;
			}
		}
		.entry-paid{
			font-size: 16px;
			font-family: $pnsb;
			color: $green-bg;
		}
		.entry-unpaid{
			font-size: 16px;
			font-family: $pnsb;
			color: $red-bg;	
		}
		.entry-pending{
			font-size: 16px;
			font-family: $pnsb;
			color: $orange-bg;
		}
	}
	.ajax_count{
		margin-top: 20px;
		ul{
			li{
				list-style: none;
				display: inline-block;
				a{
					width: 30px;
					padding: 7px 0 4px;
					margin-right: 7px;
					line-height: normal;
					display: inline-block;
					background: #f1f1f1;
					color: #666;
					border-bottom: 2px solid #ccc;
					border-radius: 2px;
					text-align: center;
					cursor: pointer;
					&:hover{ background: #e9e9e9; }
					&:active{ border-bottom-color: #e9e9e9; }
				}
				&.current{ 
						font-family: $pnsb;
						border-bottom-color: #f2f2f2; 
						a{
							background: #ddd;
						}
				}
			}
		}
	}
	//	All Messages Page End

	//	Reply Page
	.reply-section-wrapper{
		margin-top: 50px;
		.top-btn{
			margin-bottom: 15px;
			.fg-btn{
				border-bottom: 0;
				border-radius:3px;
			}
			.back{
				font-size: 20px;
				padding: 5px 15px 2px;
			}
			.next, .prev{
				font-size: 20px;
				padding: 5px 10px 2px;
			}
			.reply-add-link{
				margin-left: 290px;
				margin-top: 3px;
				a{
					margin-left: 8px; 
					font-size: 14px;
					i{
						vertical-align: middle;
						font-size: 13px;
						position: relative;
						top: -1px;
						margin-right: 3px;
					}
				}
			}
		}
		.reply-sec-left{ 
			.time{
				font-size: 13px;
				color: #616161;
				font-family: $pnr;
				text-transform: none;
			}

			.nicEdit-panelContain{
				display: none;
			}
			 #text_box_content:nth-child(2){
				background: #fff;
				border: 1px solid #cbe5f4;
				font-size: 15px; 
			}
			 #text_box_content:nth-child(2) textarea{
				outline: 0;
			}
			 #text_box_content div{ line-height: normal; }
			 .nicEdit-main{ padding: 5px;}
			 .nicEdit-selected{ outline: 0; border: 0;}

			 .reply-box .user-image {
				float: left;
				width: 50px;
				height: 50px;
				padding: 2px;
				border: 1px solid #bbbbbb; 
			}
			.reply-box .main-box {
				margin-left: 75px; }
			.reply-box .main-box .fg-textarea {
				border: 1px solid #cbe5f4;
				font-size: 14px; }
			.reply-box .main-box .fg-textarea:focus {
				outline: none;
				border-color: #23b7e5;
				box-shadow: 0 0 1px #23b7e5;
				transition: border-color .3s linear; 
			}

			.reply-sec-inner{
				.field-title:nth-child(1){
					margin: 0;
				}
				.field-title, .field-desc{
					margin: 14px 0 0 0;
					line-height: normal;
					list-style: none;
				}
				.field-title{
					font-family: $pnsb;
					margin-top: 20px;
				}
				.field-desc{
					margin: 5px 0 0 0; 
					padding: 6px 10px 5px 10px;
					background: #f8f8f8;
					border-left: 2px solid #dad8d8; 
					line-height: 24px;
					min-height: 35px;
					ul li{
						list-style: none; 
					}
					a{
						color: #333;
						&:before{
							font-family: icomoon;
							content: "\e61a";
							color: #49c53c;
							font-size: 13px;
							margin-right: 9px;
						}
					}
				}
			}
			.reply-thread{
				//margin: 35px 0;
				.all-reply{
					padding: 5px 8px;
					background: #0d5b7f;
					color: #fff;
					border-radius: 2px;
					position: relative;
					top: 15px;
					font-size: 12px;
				}
				.thread-wrapper{
					margin: 0;
					padding: 0;
					.thread{
						list-style: none;
						//padding: 30px 0 ;
						padding: 0 0 40px;
						//border-top: 1px dotted #bbb;
						&:nth-last-child(1){ padding-bottom: 0; }
					}
					.user-image{
						margin-top: 8px;
						width: 50px;
						max-height: 50px;
						padding: 2px;
						border: $globalBorder;
					}
					.user-name{
						font-size: 15px;
						color: $blackGrey;
						font-family: $pnsb;
						margin-right: 5px;
					}
					.thread-time{
						font-size: 13px;
						color: #a5a5a5;
					}
					.thread-content{
						position: relative;
						margin-top: 5px;
						padding: 10px 15px;
						background: #E5F6FF;
						border: 1px solid #cbe5f4;
						border-radius: 3px;
						.text-content{ line-height: 24px; }
						.tip{
							position: absolute;
							top:10px;
							&.left{ left:-8px; }
							&.right{ right:-8px; }
						}
					}
					.thread-left{
						.user-image{ float: left; }
						.thread-data-wrapper{ 
							margin-left: 75px; 
							text-align: left;
						}
						&.reply{
							.thread-content{
							background: #fff;
						}		
						}
					}
					.thread-right{
						.user-image{ float: right; }
						.thread-data-wrapper{ 
							margin-right: 75px; 
							text-align: right;
						}
						.thread-content{
							background: #fff;
						}	
					}
				}
				p{ margin: 0; }
			}
			.reply-section{
				.fg-inner-box{ padding-bottom: 50px; }
			}
			.reply-box{
				padding: 22px;
				background: #F2F9FD;
				border-top: 1px solid #c3ecf8;
				.user-image{
					float: left;
					width: 50px;
					height: 50px;
					padding: 2px;
					border: $globalBorder;
				}
				.main-box{
					margin-left: 75px;
					.fg-textarea{
						border: 1px solid #cbe5f4;
						font-size: 14px;
						&:focus{
							outline: none;
							border-color: $fg-elem-hover;
							box-shadow: 0 0 1px $fg-elem-hover;
							transition: border-color .3s linear;
						}
					}
				}
				.textarea-top-button{
					margin-bottom: 10px;
					.top-buttons{
						background: #f7f7f7;
						border: 1px solid #ddd;
						color: #333;
						position: relative;
						font-size: 13px;
						padding: 4px 9px;
						margin-right: 5px;
						border-radius: 4px;
					}
					.selected{
						background: #4FA8D8;
						border: 1px solid #4B98C0;
						color: #fff;
						&::after{
							content: url('../images/selected-tip.png');
							width: 0;
							height: 0;
							bottom: 12px;
							position: absolute;
							left: 50%;
							margin-left: -6px;
						}
					}
					.button-info{
						font-size: 13px;
						color: #666;
					}
				}
				.reply-box-footer{
					margin-top: 10px;
					.attach-file{
						position: relative;
						float: left;
						margin-top: 2px;
						.attach{ 
							font-size: 14px; 
							&:hover{
								background: $white;
							}
						}
						.upload-button{
							width: 80px;
							position: absolute;
							top: 0;
							right: 0;
							margin: 0;
							opacity: 0;
							-ms-filter: 'alpha(opacity=0)';
							&::-webkit-file-upload-button {
								padding: 0;
						  		visibility: hidden;
						  		cursor: pointer;
							}
						}
					}
					input[type="file"], input[type="button"]{
						padding: 0;
						cursor: pointer;
					}
					.canned-text{
						background: none;
						color: #428bca;
						border-bottom-color: transparent;
						&:hover{
							background: $white;
						}
					}
					.macro{
						display: inline-block;
						margin-left: 20px;
						.arrow-down {
							width: 0; 
							height: 0; 
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 5px solid #428bca;
							margin-left: 8px;
							display: inline-block;
							vertical-align: middle;
						}
					}
					.macro-pop{
						display: none;
						opacity: 0;
						position: absolute;
						background: $white;
						border: 1px solid #c3ecf8;
						margin-top: 15px;
						box-shadow: 0 2px 0 #e2f8ff;
						border-radius: 3px;
						z-index: 999;
						li{ 
							list-style:none;
						}
						a{
							color: #333;
							padding: 7px 40px 7px 10px;
							display: block;
							line-height: normal;
							font-size: 14px;
							&:hover{
								background: $side-hover-color;
								color: $white;
							}
						}
						p{ 
							margin: 7px 0 0 0;
							background: $lightGrey;
							.icon-add-to-list{
								position: relative;
								top: -1px;
								vertical-align: middle;
								margin-right: 10px;
								font-size: 18px;
							} 
						}
					}
					.send-loader{
						display: none;
						margin-right: 15px;
					}
					.send-dropdown{
						display: none;
						opacity: 0;
						position: absolute;
						width: 200px;
						right: 38px;
						margin-top: 15px;
						background: $white;
						border: 1px solid #c3ecf8;
						box-shadow: 0 2px 0 #e2f8ff;
						border-radius: 3px;
						z-index: 999;
						ul li{
							list-style: none;
							font-size: 14px;
						}
						a{
							color: #333;
							padding: 7px 10px;
							display: block;
							line-height: normal;
							&:hover{
								background: $side-hover-color;
								color: $white;
							}
						}
					}
					.file-wrapper{
						margin-top: 20px;
						.attached{
							background: #fff;
							border: 1px solid #ddd;
							padding: 1px 4px 1px 6px;
							border-radius: 3px;
							margin: 5px 5px 5px 0;
							position: relative;
							color: #777;
							display: inline-block;
							font-size: 14px;
						}
						.removeAttach{
							@extend .icon-cross;
							vertical-align: middle;
							margin-left: 3px;
							color: $red-bg;
						}
					}

					#progress{
						display: none;
						margin-top: 20px;
					}
					.progress-bar{
						position: absolute;
						max-width: 495px;
						height: 4px;
						display: block;
						background: $green-bg;
						border-radius: 9px;
					}

				}
			}
		}
		.reply-sec-right{
			.person-detail{
				.person-img{
					float: left;
					border-radius:50%;
					width: 80px;
					max-height: 80px;
					padding:2px;
					border: 2px solid #eee;
				}
				ul{
					display: inline-block;
					margin-left: 10px;
					li{
						list-style: none;
						line-height: normal;
						margin-bottom: 6px;
						.name{ font-family: $pnsb; font-size: 18px; }
						.email{ font-family: $pnr; color: #676767; font-size: 14px;}
						.icon{
							margin-bottom: 4px;
							display: inline-block;
							img{ margin-right: 8px; }
						}
					}
					p{ margin: 0; }
				}
			}
			.info-row-wrapper{
				margin-top: 15px;
				.info-row{
					padding: 15px 0;
					border-bottom: 1px solid #eaeaea;
					&:nth-last-child(1){
						border-bottom: 0;
						padding-bottom: 0;
					}
					h2, h4{ line-height: normal; }
					h2{
						font-size: 16px;
						font-family: $pnsb;
						color: #333333;
						margin-bottom: 4px;
					}
					h4{
						font-size: 15px;
						font-family: $pnr;
						color: #5e5e5e;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
					.tag-wrapper{
						margin-top: 6px;
						#tag_text_tag{ margin-bottom: 5px; }
						.tag{
							background: #f4f4f4;
							border: 1px solid #ddd;
							padding: 0px 2px 0px 5px;
							margin: 5px 8px 5px 0;
							font-size: 13px;
							border-radius: 3px;
							position: relative;
							color: #777;
							display: inline-block;							
						}
						.icon-cross{
							vertical-align: middle;
							margin-left: 3px;
							color: #777;
						}
					}
				}
			}
		}
	}
	//	Reply Page End

	//	Payment Setting
	.disconnect{
		margin-left: 15px;
		text-decoration: underline;
	}

	
	// Payment Status
	.fg-table.payment-status{
		tbody tr{
			cursor: pointer;
			&:hover{ background: #f1f1f1; }
		}
	 	td,th{
			line-height: normal;
			padding: 9px 5px 8px 10px;
			text-align: left;
			max-width: 135px;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 15px;
			&:first-child{ text-align: center; }
		}
	}

	//	Payment Setting End

	//	Integration Pages
	.row-img{
		margin-bottom: 15px;
		max-height: 57px;
	}
	.arrow-m-top{
		margin-top: 46px;
		line-height: 1;
		padding:5px;
		&.first{
			margin-top: 83px
		}
		&.help-mt{
			margin-top: 68px;
		}
	}
	//	Integration Pages

	// Profile Image Page
	#profile_crop_overlay{
        position: fixed;
        display: none;
        top:0;
        left: 0;
        width:100%;
        height: 100%;
        background: #333;
        background:rgba(0, 0, 0, 0.7);
        z-index: 9999;
    }
    .m_auto{
        width: 300px;
        margin: 40px auto;
        text-align: center;
    }
    .m_auto a{
        min-width: 100px;
        font-weight: normal;
        font-family: "proxima_nova_rgregular", sans-serif;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none !important;
        -webkit-font-smoothing: subpixel-antialiased;
        cursor: pointer;
        text-align: center;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        outline: none;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-radius: 5px;
        font-size: 14px;
        padding: 9px 10px 7px;
        display: inline-block;
        margin: auto;
        position: relative;
    }
    .m_auto a#crop_image{
        background-color: #71b02f;
        color: white;
        border-bottom-color: #4d8118;
        margin-right: 16px;
    }
    .m_auto a#close_image{
        background-color: #f0ad4e;
        color: white;
        border-bottom-color: #e68d10;
    }
    #profile_crop_overlay #files #loading_cropping{
        position: absolute;
        top: 49%;
        left: 49%;
    }
		img#target{
			display: none;
		}
	// Profile Image Page

	//	Add Agent
	.m-bottom{
		margin: 0 0 16px 0;
	}
	.agent-detail{
		.agent-img{
			width: 70px;
			height: 70px;
		}
		.detail{
			ul{ padding-left: 80px; }
			span{ 
				margin-left: 15px; 
				line-height: 1; 
			}
			li{
				margin-top: 0;
				list-style: none;
				&.name{ font-size: 18px; }
				&.email{ font-size: 13px; color:#888; margin-top: 2px;}
				&.assigned-form{ margin-top: 5px; }
			}
			span{
				color: #666; 
				font-size: 14px;
				margin-left:5px; 
				&.arrow{ margin: 0 5px 0 0; }
			}
		}
		.agent{
			margin-bottom: 30px;
			padding-right: 15px;
			&:nth-child(even){
				padding-left: 15px;
				padding-right: 0;
			}
		}
		.single-agent{
			position: relative;
			padding: 10px;
			border: 1px solid #c3ecf8;
			.remove{
				position: absolute;
				right: -6px;
				top: -6px;
				background: #fff;
				padding: 2px;
				border-radius: 50%;
			}
		}
	}
	//	Add Agent End

	//	Embed Page
	.color-picker{
		position: relative;
		.picker{
			position: absolute;
			width: 37px;
			height: 85%;
			border: 4px solid #bbb;
			top: 6px;
			right: 0;
			.color{
				display: inline-block;
				background: #e54040;
				width: 94%;
				height: 92%;
				margin: 1px;
			}
		}
		.trigger{
			position: absolute;
			bottom: 4px;
			right: 3px;
			width: 10px;
			height: 10px;
			display: inline-block;
			background: url('../images/color-picker.png') no-repeat;
		}
	}
	.embed-preview{
		position: relative;
		background: #dddddd url('../images/repeat-bg.png') fixed repeat;
		border: $globalBorder;
		height: 369px;
		border-radius: 2px;
		.tab{
			position: absolute;
			font-family: sans-serif;
			font-weight: 700;
			min-width: 220px;
			max-width: 290px;
			min-height: 44px;
			color: #ffffff;
			background: #e54040 url('../images/chat-icon.png') 185px center no-repeat;
			padding: 9px 32px 7px 11px;
			border-radius: 4px 4px 0 0;
			&.bottom{
				bottom: 0;
				right: 15px;
			}
			&.right{
				transform: rotate(270deg);
				right: 0;
				left: 223px;
				bottom: 160px;
			} 
			&.left{
				transform: rotate(90deg);
				left: -88px;
				bottom: 160px;
			}
		}
	}
	.embed-textarea{
		line-height: normal;
		padding: 9px 10px 8px;
		overflow: hidden;
	}
	//	Embed Page End


}//	Main Container Style End

//	Analytics Page

.f-left{
	position: relative;
    float: left;
    padding-bottom:3px;
    border-bottom: 1px solid #eee;
    p{
    	position: absolute;
		margin: 0;
		bottom: -18px;
		text-align: center;
		font-size: 12px;
		color: #999;
    }
    &:nth-last-child(2){
    	margin-right: 0;
    }
}
.f-right{
    float: right;
}

.f-left span{
	display: inline-block;
    margin: 4px 10px 0 0;
    font-size: 22px;
    font-weight: bold;
}
.f-left span#visits-large-num:after{
	content: ' Visits';
	position: relative;
	font-size: 13px;
	font-weight: 400;
}

.f-left span#entries-large-num:after{
	content: ' Submissions';
	position: relative;
	font-size: 13px;
	font-weight: 400;
}


.chart-desc{
   margin-bottom: 26px;
}
.chart-desc a{
	display: inline-block;
	padding: 7px 12px 5px;
	margin-left: 6px;  
	background: #eeeeee; 
	border-bottom:2px solid #ddd;
	border-radius:3px;
}
.chart-desc a:hover{
   background: #e7e7e7;
}
.chart-desc a:active{
   border-bottom-color: #e7e7e7;
}

.chart-desc a#all_btn{
   
}
.chart-desc a#all_btn span{
	position: relative;
	top: 2px;
    background: $blue-bg;
	width: 5px;
	height: 10px;
	display: inline-block;
	margin: 0 8px 0 0;
}
.chart-desc a#all_btn span:before{
  	content: ' ';
	background: $green-bg;
	width: 5px;
	height: 10px;
	display: inline-block;
	position: relative;
	left: -5px;
	top: -2px;
}
.chart-desc a#visits_btn span{
    background: $green-bg;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0 8px 0 2px;
}
.chart-desc a#entries_btn span{
    background: $blue-bg;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0 8px 0 2px;
}

.ex-tooltip{
    position: absolute;
    display: none;
    padding:5px 10px;;
    background: #444;
    color:#fff;
    border-radius :5px;
    box-shadow: 0 0 3px #ccc;
    font-size: 12px;
    text-align: center;
    line-height: normal;
}

#myChart{
    margin-bottom:15px;
    margin-left: -40px;
	position: relative;
}

#myChart svg{
    overflow-y: visible;
} 

.xchart .axis text {
  fill: #777;
  font-size: 14px;
}
.xchart .axis .domain {
  fill: none;
}
.xchart .axis .tick {
  stroke-width: 1px;
}
.xchart .axisZero line {
  stroke: #BBB;
  stroke-width: 1px;
}
.xchart .line {
  fill: none;
}
.xchart .color0 rect {
  fill: #3880aa;
}

.xchart .form-view-stat .fill {
  fill: rgba(113,176,47,0.05);
}
.xchart .form-entry-stat .fill {
  fill: rgba(27,199,242,0.1);
}

.xchart .color0 circle {
  fill: $blue-shadow;
  cursor: help;
}

.xchart .color0.comp circle {
  fill: $green-shadow;
  cursor: help;
}

.xchart .color0 .line {
  stroke: $blue-bg;
  stroke-width:2px;
}

.xchart .color0.comp .line {
  stroke: $green-bg;
  stroke-width:2px;
}
.xchart .color0.comp rect {
  fill: #89bbd8;
}

.bottom_stat_line{
	margin: 25px 0 0;
	text-align: center;
	color: #777;
	font-family: $pnsb;
	font-size: 18px;
}

.analytics-summary{
	width: 100%;
	margin-top: 30px;
	border: 1px solid #c3ecf8;
	box-shadow: 0 2px 0 #e2f8ff;
	table-layout: fixed;
	thead{
		tr{
			font-size: 15px;
			font-family: $pnsb;
			background: #e4f3f6;
			color: #1d4c55;
		}
		th{
			border-right: 1px solid #c3ecf8;
			border-bottom: 1px solid #c3ecf8;
			line-height: normal;
			padding: 14px 0 12px;
		}
	}
	tbody{
		tr{
			background: #fff;
			&:nth-child(even){ background: #fcfcfc; }
			&:nth-last-child(1) td{ border-bottom: none; }
			td:nth-last-child(1){ border-right: none; }
			td:first-child{ 
				text-align: left;
				padding-left: 10px;
				font-family: $pnsb;
			}
			td{
				text-align: center;
				padding: 10px 4px 8px;
				font-size: 16px;
				font-family: $pnr;
				border-right: 1px solid #edebeb;
				border-bottom: 1px solid #edebeb;
				text-align: center;
			}
		}
	}
}

.all-analytic-stats{
	.grid{
		width: 24%;
		margin-right: 1.33%;
		&.last{ margin-right: 0; }
	}
}
.all-analytic-stats .stat{
	padding: 15px 5px;
    text-align: center;
	background: #f0f3f4;
	color: #555;
}
.all-analytic-stats .stat p{
	margin:0 0 10px 0;
   font-family: $pnsb;
   font-size: 15px;	 
}
.all-analytic-stats .stat span{
    
}

.all-analytic-stats .stat .visits_stat,
.all-analytic-stats .stat .entries_stat{ font-size: 40px; }
.all-analytic-stats .stat .visits_stat{ margin-bottom: 15px; display:inline-block; }
.all-analytic-stats .stat .entries_stat{ display: block; }
.all-analytic-stats .stat .visits_stat:after{ content: 'Visits'; }
.all-analytic-stats .stat .entries_stat:after{ content: 'Entries'; }
.all-analytic-stats .stat .visits_stat:after, .all-analytic-stats .stat .entries_stat:after{
	display: block;
	margin-top: -3px;
	font-size: 15px;
	font-weight: 400;
}
.bottom_stat_line{
   
}
.y_axis_line{
   
}

//	Analytics Page End


//	Extension Plan
.extension-plan thead{
	border-bottom: 1px solid #bbb;
}
.extension-plan tbody{
	tr.expired{
		background: rgba(217, 83, 79, 0.1);
		td:nth-child(2){
			font-family: $pnsb;
			color: $red-bg;
		}
	}
	tr.expiring{
		background: rgba(230, 141, 16, 0.13);
		td:nth-child(2){
			font-family: $pnsb;
			color: $orange-bg;
		}
	}
	tr.paid{
		td:nth-child(2){
			font-family: $pnr;
			color: $green-bg;
		}	
	}
}

//	Extension Plan End

//	Footer

.main-footer{
	.link-footer{
		background: $top-footer-bg;
		border-bottom: 3px solid $top-footer-border;
		ul{
			text-align: center;
			padding:23px 0;
			list-style: none; 
			li{
				display: inline-block;
				margin: 0 10px;
				a{
					color: $top-text;
					text-decoration: none;
					&:hover{
						color: $top-text-hover;
					}
				}
			}
		}
	}
	.copyright-footer{
		background: $bot-footer-bg;
		p{
			color: $top-text;
			font-family: $pnr;
			margin: 0;
			padding:20px 0;
			text-align: center;
		}
	}
}




@media (max-width: $screen-xs-max) { 
	#main-wrapper{
		margin: 0;
	}
	.main-header{
		height: 160px;
		.logo img{
			margin:10px 0 22px;
		}
		.user-nav{
			margin-top: 20px;	
		}
	}
	.main-container{
		padding-bottom: 50px;
		.extension-details{
			max-width: none !important;
			margin-top: 20px;
		}
	}
}

// Style for Firefox Browser
@-moz-document url-prefix(){
   .main-container table.messages .head{
       font-family: $pnr;
   }
}
