@import "variables.scss";
@import "normalize.scss";
@import "bootstrap.scss";

//	Font Settings

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-regular-webfont.woff') format('woff'),
        url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
        url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-bold-webfont.woff') format('woff'),
        url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?6qogwf');
	src:url('../fonts/icomoon.eot?#iefix6qogwf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?6qogwf') format('woff'),
		url('../fonts/icomoon.ttf?6qogwf') format('truetype'),
		url('../fonts/icomoon.svg?6qogwf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-coin:before{ content: "\e622"; }
.icon-mobile:before{ content: "\e623"; }
.icon-mail:before{ content: "\e601"; }
.icon-pencil:before{ content: "\e60f"; }
.icon-paperclip:before{ content: "\e627"; }
.icon-reply:before{ content: "\e629"; }
.icon-forward:before{ content: "\e62b"; }
.icon-user:before{ content: "\e62c"; }
.icon-users:before{ content: "\e62d"; }
.icon-user-add:before{ content: "\e602"; }
.icon-export:before{ content: "\e62f"; }
.icon-share:before{ content: "\e632"; }
.icon-heart:before{ content: "\e633"; }
.icon-heart2:before{ content: "\e634"; }
.icon-star:before{ content: "\e603"; }
.icon-star2:before{ content: "\e635"; }
.icon-chat:before{ content: "\e638"; }
.icon-comment:before{ content: "\e639"; }
.icon-quote:before{ content: "\e63a"; }
.icon-house:before{ content: "\e63b"; }
.icon-search:before{ content: "\e610"; }
.icon-bell:before{ content: "\e63f"; }
.icon-link:before{ content: "\e616"; }
.icon-flag:before{ content: "\e640"; }
.icon-cog:before{ content: "\e611"; }
.icon-tools:before{ content: "\e612"; }
.icon-megaphone:before{ content: "\e644"; }
.icon-newspaper:before{ content: "\e648"; }
.icon-lifebuoy:before{ content: "\e649"; }
.icon-eye:before{ content: "\e609"; }
.icon-calendar:before{ content: "\e64b"; }
.icon-bolt:before{ content: "\e604"; }
.icon-thunder:before{ content: "\e64c"; }
.icon-key:before{ content: "\e651"; }
.icon-battery:before{ content: "\e652"; }
.icon-magnet:before{ content: "\e60a"; }
.icon-rocket:before{ content: "\e655"; }
.icon-brush:before{ content: "\e60b"; }
.icon-browser:before{ content: "\e658"; }
.icon-publish:before{ content: "\e659"; }
.icon-code:before{ content: "\e613"; }
.icon-creditcard:before{ content: "\e600"; }
.icon-database:before{ content: "\e65d"; }
.icon-statistics:before{ content: "\e614"; }
.icon-lock2:before{ content: "\e61b"; }
.icon-lock-open:before{ content: "\e61c"; }
.icon-logout:before{ content: "\e663"; }
.icon-login:before{ content: "\e664"; }
.icon-checkmark:before{ content: "\e665"; }
.icon-cross:before{ content: "\e666"; }
.icon-cross2:before{ content: "\e617"; }
.icon-minus2:before{ content: "\e669"; }
.icon-plus2:before{ content: "\e615"; }
.icon-cross3:before{ content: "\e66a"; }
.icon-info:before{ content: "\e66f"; }
.icon-help:before{ content: "\e671"; }
.icon-warning:before{ content: "\e672"; }
.icon-cycle:before{ content: "\e673"; }
.icon-cw:before{ content: "\e674"; }
.icon-arrow:before{ content: "\e677"; }
.icon-arrow2:before{ content: "\e678"; }
.icon-retweet:before{ content: "\e607"; }
.icon-loop:before{ content: "\e679"; }
.icon-history:before{ content: "\e67a"; }
.icon-back:before{ content: "\e67b"; }
.icon-switch:before{ content: "\e67c"; }
.icon-list:before{ content: "\e67d"; }
.icon-add-to-list:before{ content: "\e618"; }
.icon-layout:before{ content: "\e67e"; }
.icon-list2:before{ content: "\e608"; }
.icon-text:before{ content: "\e67f"; }
.icon-pictures:before{ content: "\e682"; }
.icon-folder:before{ content: "\e683"; }
.icon-archive:before{ content: "\e60d"; }
.icon-trash:before{ content: "\e60e"; }
.icon-download:before{ content: "\e61a"; }
.icon-disk:before{ content: "\e685"; }
.icon-upload2:before{ content: "\e688"; }
.icon-play:before{ content: "\e68c"; }
.icon-pause:before{ content: "\e605"; }
.icon-record:before{ content: "\e60c"; }
.icon-stop:before{ content: "\e61d"; }
.icon-flow-tree:before{ content: "\e68f"; }
.icon-arrow-left3:before{ content: "\e698"; }
.icon-arrow-down3:before{ content: "\e699"; }
.icon-arrow-up2:before{ content: "\e69a"; }
.icon-arrow-right3:before{ content: "\e69b"; }
.icon-arrow-left4:before{ content: "\e69c"; }
.icon-arrow-down4:before{ content: "\e69d"; }
.icon-arrow-up3:before{ content: "\e69e"; }
.icon-arrow-right4:before{ content: "\e69f"; }
.icon-arrow-left5:before{ content: "\e61e"; }
.icon-arrow-down5:before{ content: "\e61f"; }
.icon-arrow-up4:before{ content: "\e620"; }
.icon-arrow-right5:before{ content: "\e621"; }
.icon-arrow-left6:before{ content: "\e6a0"; }
.icon-arrow-down6:before{ content: "\e6a1"; }
.icon-arrow-up5:before{ content: "\e6a2"; }
.icon-uniE6A3:before{ content: "\e6a3"; }
.icon-ellipsis:before{ content: "\e6a5"; }
.icon-info2:before{ content: "\e606"; }


// Helper Classes
b, strong{ font-weight: normal; font-family: $pnsb; }
.relative{ position: relative; }
.absolute{ position: absolute; }
#nomargin{margin: 0;}
.nomargin{margin: 0;}
.nopadding{ padding-right:0; padding-left:0; }
.norightpadding{ padding-right:0; }
.noleftpadding{ padding-left:0; }
.botpadding{ padding-bottom: 150px; }

.regular{ font-family: $pnr; }
.bold{ font-family: $pnsb; }

.blue{ color: $blue-bg; }
.green{ color: $green-bg; }
.orange{ color: $orange-bg; }
.red{ color: $red-bg; }

.fg-hidden{ display: none; }
.fg-block{ display: block; }
.fg-in-block{ display: inline-block; }
.fg-link{ color: $linkColor; }
.ta-center{ text-align: center; }
.fg-left{ float:left; }
.fg-right{ float:right; }
.fg-clear{ clear: both; }


.fg-btn, input[type="submit"].fg-btn,  input[type="button"].fg-btn{
	font-weight: normal;
	font-family: $pnr;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: pointer;
	text-align:center;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	outline: none;
	border-bottom-width:3px;
	border-bottom-style:solid;
	border-radius: 5px;
	&.tt-none{ text-transform: none; }
	&.mr{ margin-right: 8px; }
	&.mr-plus{ margin-right: 16px; }
	&.mt{ margin-top: 22px; }
	&.bold{ font-family: $pnsb; }

	&.large{ font-size: 18px; padding: 16px 25px 13px; }
	&.medium{	font-size: 15px; padding: 11px 26px 9px; }
	&.small{ font-size: 14px; padding: 9px 10px 7px; }
	&.group-left{
		border-radius: 5px 0 0 5px;
		border-right: 1px solid $blue-shadow;
		&.medium{ padding: 11px 11px 9px; }
	}
	&.group-right{
		border-radius: 0 5px 5px 0;	
		&.inline{ margin-left: -4px; }
		&.medium{ padding: 11px 11px 9px; }
		&.loading, &.success{
			img{ opacity: 0; }
		}
	}
}

.fg-btn.block, .fg-flat-btn.block{
	display: block;
}

.fg-btn.inline, .fg-flat-btn.inline{
	display: inline-block;
	margin: auto;
}

.fg-flat-btn.tt-none{ text-transform: none; }
.fg-flat-btn.mr{ margin-right: 8px; }
.fg-flat-btn.mr-plus{ margin-right: 16px; }
.fg-flat-btn.mt{ margin-top: 22px; }
.fg-flat-btn.bold{ font-family: $pnsb; }

.fg-btn.blue{
	position: relative;
	background-color: $blue-bg;
	color: $blue-text;
	border-bottom-color:$blue-shadow;	
	&:hover{ background-color: $blue-hover-bg; }
	&:active{
		border-bottom-color:$blue-hover-bg;
		transition: border-bottom .1s linear;
	}
	&.loading{
		color: $blue-bg;
		&:before{
			content: url('../images/blueloader.gif');
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -10px;
			margin-left: -10px;
		}
		&:hover{
			background-color: $blue-bg;
		}
	}
	&.success{
		color: $blue-bg;
		&:before{
			font-family: $iconFont;
			font-size: 20px;
			content: "\e665";
			color: $blue-shadow;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -10px;
			margin-left: -10px;
		}
		&:hover{
			background-color: $green-bg;
		}
	}
}

.disable{
	color: $disable-text;
	background-color: $disable-bg;
	border-color: $disable-shadow;
	cursor: not-allowed;
	&:hover{
		color: $white;
	}
}

.fg-btn.green{
	position: relative;
	background-color: $green-bg;
	color: $green-text;
	border-bottom-color:$green-shadow;
	&:hover{ background-color: $green-hover-bg; }
	&:active{
		border-bottom-color:$green-hover-bg;
		transition: border-bottom .1s linear;
	}
	&.loading{
		color: $green-bg;
		&:before{
			content: url('../images/greenloader.gif');
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -10px;
			margin-left: -10px;
		}
		&:hover{
			background-color: $green-bg;
		}
	}
	&.success{
		color: $green-bg;
		&:before{
			font-family: $iconFont;
			font-size: 20px;
			content: "\e665";
			color: $green-shadow;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -10px;
			margin-left: -10px;
		}
		&:hover{
			background-color: $green-bg;
		}
	}
}

.fg-btn.tealblue{
	background-color: $tealBlue-bg;
	color: $tealBlue-text;
	border-bottom-color: $tealBlue-shadow;
	&:hover{ background-color: $tealBlue-hover-bg; }
	&:active{
		border-bottom-color: $tealBlue-hover-bg;
		transition: border-bottom .1s linear;
	}
}

.fg-btn.orange{
	background-color: $orange-bg;
	color: $orange-text;
	border-bottom-color:$orange-shadow;
	&:hover{ background-color: $orange-hover-bg; }
	&:active{
		border-bottom-color:$orange-hover-bg;
		transition: border-bottom .1s linear;
	}
}

.fg-btn.red{
	background-color: $red-bg;
	color: $red-text;
	border-bottom-color:$red-shadow;
	&:hover{ background-color: $red-hover-bg; }
	&:active{
		border-bottom-color:$red-hover-bg;
		transition: border-bottom .1s linear;
	}
}

.fg-btn.grey{
	background-color: $grey-bg;
	color: $grey-text;
	border-bottom-color:$grey-shadow;
	&:hover{ background-color: $grey-hover-bg; }
	&:active{
		border-bottom-color:$grey-hover-bg;
		transition: border-bottom .1s linear;
	}
}


.fg-flat-btn, input[type="submit"].fg-flat-btn, input[type="button"].fg-flat-btn{
	font-weight: normal;
	font-family: $pnr;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: pointer;
	text-align:center;
	border-radius: 5px;
	&.grey{
		color: #737171;
		border: $globalBorder;
		background-color: #f4f4f4;
		&:hover{ background-color: #e8e8e8; }
		&:active{ background-color: #f4f4f4; }
	}
	&.blue{
		background-color: $blue-bg;
		color: $blue-text;
		border-bottom-color:$blue-shadow;	
		&:hover{ background-color: $blue-hover-bg; }
		&:active{
			border-bottom-color:$blue-hover-bg;
			transition: border-bottom .1s linear;
		}
	}
}

.fg-flat-btn.large{ font-size: 18px; padding: 16px 25px 13px; }
.fg-flat-btn.medium{ font-size: 15px; padding: 11px 26px 9px; }
.fg-flat-btn.small{ font-size: 14px; padding: 9px 10px 7px; }



// Form Element UI
.block{
	display: block;
}

.fg-fw{
	width: 100%;
}

.fg-row{
	line-height: 1;
	margin-bottom: 30px;
	&.last{
		margin-bottom: 0;	
	}
}

.fg-elem-row{
	margin-bottom: 12px;
	&.last{ margin-bottom: 0; }
}
	
.fg-box{
	border: 1px solid $fg-box-border;
	box-shadow: 0 2px 0 $fg-box-shadow;
	margin-bottom: 36px;
	.fg-box-header{
		margin:0;
		background: $fg-box-header-bg;
		font-size: 15px;
		font-family: $pnsb;
		color: $fg-box-header-text;
		text-transform: uppercase;
		line-height: normal;
		padding: 14px 0 13px;
		min-height: 45px;
		.switch {
			background: none;
			right: 5px;
			top:9px;
		}
	}
	.fg-box-close{
		float: right;
		margin-top: -2px;
		margin-right: -10px;
		font-size: 20px;
	}
	.fg-inner-box{
		padding-top: 22px;
		padding-bottom: 22px;
	}
	.rl-pad{
		padding-right:22px;
		padding-left:22px;
	}
	&.first{
		margin-top: 36px;
	}
	&.last{
		margin-bottom: 0;	
	}
}

.fg-label{
	color: $blackGrey;
	font-family: $pnsb;
	font-size: 16px;
	line-height: 1;
	&.inline-label{
		margin-top: 14px;
		line-height: 24px;
	}
}
 .fg-select{
	margin-top: 6px;
 	padding: 8px 0 7px;
 	&.nomargin{
		margin-top: 0;
	}
 }
.fg-input, .fg-select, .fg-textarea{
	padding-left: 5px;
	border: $globalBorder;
	border-radius: 3px; 	
	font-family: $pnr;
	font-size: 16px;
	color: $fg-elem-color;
	&:focus{
		outline: none;
		border-color: $fg-elem-hover;
		box-shadow: 0 0 1px $fg-elem-hover;
		transition: border-color .3s linear;
	}
	&.disable{
		background: #eee;
		color: #bbb;
		cursor: not-allowed;
	}
	&.error{
		border-color: $red-bg;
		box-shadow: 0 0 1px $red-hover-bg;
		transition: border-color .3s linear;
	}
}

.fg-textarea{
	margin-top: 6px;
	line-height: normal;
	padding:9px 0 8px 10px;
	font-family: $pnr;
	font-size: 16px;
	resize: vertical;
	&.nomargin{
		margin-top: 0;
	}
}


.text{
	margin-top: 6px;
	line-height: normal;
	padding:9px 5px 8px 10px;
	font-family: $pnr;
	font-size: 16px;
	&.nomargin{
		margin-top: 0;
	}
}
.password{
	@extend .text;
	font-weight: bold;
	letter-spacing: 1px;
}
.radio{

}
.radio, .checkbox{
	display: inline-block;
	margin:0 3px 0 2px;
	position: relative;
	top: -2px;
	vertical-align: middle;
}

.fg-section-heading{
	margin: 0 0 10px 0;
	font-family: $pnsb;
}

.fg-wrapper{
	margin-bottom:10px;
	&.last{
		margin-bottom: 0;
	}
}

.fg-help{
	font-size: 13px;
	line-height: 18px;
	margin-top: 4px;
	margin-left: 3px;
	margin-bottom: 0;
	color: #aaa;
	display: block;
}
.fg-error-help{
	font-size: 13px;
	line-height: 18px;
	margin-top: 4px;
	margin-left: 3px;
	margin-bottom: 0;
	color: $red-bg;
	display: block;
}

.fg-input-group{
	margin-top: 6px;
	display: inline-block;
	.fg-group-left{
		font-size: 16px;
		font-family: $pnr;
		display: inline-block;
		margin: 0;
		width: 20%;
		float: left;
		text-align: center;
		line-height: normal;
		padding:9px 2px 8px 3px;
		background: #eee;
		border: $globalBorder;
		border-right: none;
		border-radius: 2px 0 0 2px;
	}
	.fg-group-right{
		font-family: $pnr;
		display: inline-block;
		width: 80%;
		float: right;
		&.fg-input{
			border-radius:0 2px 2px 0;
			&:focus{
				outline: none;
				border-color: $fg-elem-hover;
				box-shadow: 0 0 1px $fg-elem-hover;
				transition: border-color .3s linear;
			}
		}
	}
}

.fg-table{
	border: $globalBorder;
	thead tr{ background: $white; }
	tbody tr{
		background: $white;
		&:nth-child(odd){
			background: #f9f9f9;
		}
	}
	th{	font-family: $pnsb;	}
	td, th{
		line-height: normal;
		padding: 9px 5px 8px 10px;
		text-align: left;
	}
}


.fg-upload-parent{
	position: relative;
	margin-top: 6px;
	input[type="file"]{
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 38px;
		cursor: pointer;
	}
	.fg-input{ 
		float: left;
		width: 75%;
		border-radius: 2px 0 0 2px;
	}
	.text{ margin-top: 0; }
	.fg-upload-btn{
		width: 25%;
		display: inline-block;
		line-height: normal;
		padding: 9px 0 8px 0;
		text-align: center;
		border-radius: 0 2px 2px 0;
		border: $globalBorder;
		border-left: 0;
		background: #dddddd;
		cursor: pointer;
		.icon-folder{
			font-size: 13px;
			margin-right: 8px;
			color: #666;
		}	
	}
}

.fg-image-thumb{
	text-align: right;
	padding-right: 0;
	width: 97px;
	height: 82px;
	margin-left: 9px;
	.fg-image-holder{
		width: 80px;
		height: 80px;
		display: table-cell;
		vertical-align: middle;
	}
	.close{
		font-size: 12px;
		text-align: center;
		display: block;
		margin-top: 3px;
		cursor: pointer;
		position: absolute;
		margin-left: 18px;
	}
	.thumb{
		width: 80px;
		max-height: 80px;
		border: 1px solid $fg-box-border;
	}
}


//	iDevice like checkbox Switch 
.switch {
  position: absolute;
  top: 6px;
  right: 0;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  border-radius: 18px;
  cursor: pointer;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #47a8d8;
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 34px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #7fc435;
}
.switch-blue > .switch-input:checked ~ .switch-label {
  background: #47a8d8;
}

//	Callout
.fg-callout{
	position: relative;
	padding:18px 22px;
	margin:20px 0;
	border-left-width:4px;
	border-left-style:solid;
	h2{
		margin-bottom: 10px;
		font-family: $pnsb;
		font-size: 22px;
	}
	p{
		line-height: 1.5;
		margin: 0;
		color: #454545;
	}
	.close{
		position: absolute;
		right: 8px;
		top: 8px;
		font-size: 16px;
	}
	a{
		color: $linkColor;
	}
    
    &.mt{ margin-top: 36px; }
    &.mb{ margin-bottom: 36px; }

	&.red{
		border-left-color: $red-bg;
		background-color: rgba(217,83,79,0.1); 
		.close{
			color: rgba(217,83,79,0.8);
			&:hover{
				color: rgba(217,83,79,1);
			}
		}
	}

	&.green{
		border-left-color: $green-bg;
		background-color: rgba(113,176,47,0.13); 
		.close{
			color: rgba(113,176,47,0.8);
			&:hover{
				color: rgba(113,176,47,1);
			}
		}
	}

	&.blue{
		border-left-color: $blue-bg;
		background-color: rgba(25,187,228,0.13); 
		.close{
			color: rgba(25,187,228,0.8);
			&:hover{
				color: rgba(25,187,228,1);
			}
		}
	}

	&.orange{
		border-left-color: $orange-shadow;
		background-color: rgba(230,141,16,0.13); 
		.close{
			color: rgba(230,141,16,0.8);
			&:hover{
				color: rgba(230,141,16,1);
			}
		}
	}


}



// Loader
.white-overlay{
	position: fixed;
	bottom: 4%;
	right: 2%;
}
.fg-spinner {
	width: 200px;
	padding: 8px 12px 5px 10px;
	text-align: center;
	line-height: normal;
	background: #327eda;
	border-radius: 30px;
	p{
		display: inline-block;
		line-height: normal;
		margin: 0 0 0 16px;
		color: #fff;
	}
}

.fg-spinner.loading{
	width: auto;
	background: none;
	div{
		background: #327eda;
	}
}

.fg-spinner > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fg-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.fg-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
