@import "variables.scss";
@import "global.scss";
body{
	background: #dddddd url("http://www.formget.com/app/new-app/css/../images/repeat-bg.png") fixed repeat;
	font-family: $pnr;
	font-size: 16px;
	line-height: 28px;
}
#auth_wraper{
	margin-top: 75px;
	.fg-spinner{
		display: none;
		width: auto;
		background: none;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -29px;
		margin-top: -16px;
		div{
			background: #327eda;
		}
	}
}
#auth_container{
	position: relative;
	width: 375px;
	border-bottom: 2px solid #ccc;
	h2.signup_heading{
		margin-top: 0;
		font-family: $pnsb;
		font-size: 18px;
		color: #333;
		padding-bottom: 12px;
		line-height: normal;
	}
	#social_login{
		margin-top: 18px;
		padding-bottom: 23px;
		.fb_login, .gg_login{
			font-weight: normal;
			font-family: $pnr;
			line-height: 1;
			text-align: center;
			text-decoration: none !important;
			-webkit-font-smoothing: subpixel-antialiased;
			cursor: pointer;
			text-align: center;
			border: 0; 
			border-radius: 5px;
			font-size: 16px;
			padding: 14px 26px 12px;
			color: #fff;
			display: block;
		}
		.fb_login{
			background: #385995;
			background: rgba(59,89,152,0.9);
			margin-bottom: 6px;
		}
		.gg_login{
			background: #d13e29;
			background: rgba(209,62,41,0.9);	
		}
	}
	.login_or{
		background: url('images/or.png') center top no-repeat;
		height: 9px;
		margin-bottom: 15px;
	}
	ul{
		padding: 0;	
		li{
			margin-bottom: 8px;
		}
	}
	.text{ padding: 13px 5px 11px 10px; }
	.submit{ margin-top: 6px; }
	.forgot-password, .signup-btn{ text-decoration: none; margin-top:20px; font-size: 16px; }
	.forgot-password{
		margin-top: 22px;
		color: #999;
		text-transform: none;
		float: left;
	}
	.signup-btn{
		float: right;
		font-family: $pnsb;
		padding: 3px 15px;
		border-radius: 5px;
		background: #f2f2f2;
		color: #999;
		&:hover{
			background: #eee;
		}
	}
}