//	Bootstrap Grid Sizes

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;
 

//	Font Variable
$pnb: 'proxima_nova_rgbold', sans-serif;
//$pnl: proxima_novalight;
$pnr: 'proxima_nova_rgregular', sans-serif;
//$pnrl: proxima_novaregular_italic;
$pnsb: 'proxima_novasemibold', sans-serif;
$iconFont: 'icomoon';

//	Global Color 
$priColor: #0e7ac4;
$secColor: #0c79c3;
$white: #ffffff;
$lightGrey: #f1f1f1;
$darkGrey: #d0d0d0;
$blackGrey: #333333;
$silverGrey: #e4e4e4;

// Global Settings
$globalBorder: 1px solid #bbb;

//	Text Color 
$heading1: #121212;
$heading2: #3b3b3b;
$heading4: #303030;
$paraColor: #252E35;
$linkColor: #1f96da;

//	Tab Color
$tab-bg: #20a4ff;
$tab-text: #ffffff;
$tab-hover-bg: #44b3ff;
$tab-act-bg: #ffffff;
$tab-act-text: #292929;

//	Blue Button
$blue-bg: #1bc7f2;
$blue-hover-bg: #1cd2ff;
$blue-shadow: #2477bf;
$blue-text: #ffffff;

//	TealBlue Button
$tealBlue-bg: #cfe9f7;
$tealBlue-hover-bg: #ebf8ff;
$tealBlue-shadow: #3b6e87;
$tealBlue-text: #114058;

//	Green Button
$green-bg: #71b02f;
$green-hover-bg: #7fc435;
$green-shadow: #4d8118;
$green-text: #ffffff;

//	Orange Button
$orange-bg: #f0ad4e;
$orange-hover-bg: #ffb752;
$orange-shadow: #E68D10;
$orange-text: #ffffff;

//	Red Button
$red-bg: #d9534f;
$red-hover-bg: #ff615c;
$red-shadow: #BB221C;
$red-text: #ffffff;

//	Grey Button
$grey-bg: #e7e7e7;
$grey-hover-bg: #eee;
$grey-shadow: #bbb;
$grey-text: #737171;

//	Disable Button
$disable-bg:#bdc3c7;
$disable-shadow:#bdc3c7;
$disable-text:#ffffff;

//	Form Element
$fg-box-border: #c3ecf8;
$fg-box-shadow: #E2F8FF;
$fg-box-header-bg: #e4f3f6 ;
$fg-box-header-text: #1d4c55;
$fg-elem-color: #383838;
$fg-elem-hover: #23b7e5;

//	Sidebar Color
$sidebar-bg: #f4fbff;
$icon-color: #1bc7f2;
$number-icon: #fecf42;
$side-hover-color: #1bc7f2;

//	Right Section Wrapper
$heading-color: #105f95;

//Dashboard
$dash-form-block: #bedbea;
$dash-image-border: #a0c6db;
$dash-form-block-footer: #71a4bf;
$darkSilver: #848484;
$form-block-link: #2b4e60;
$form-block-hover-link: #3f738c;

$info-board-bg: #fff9d9;
$info-board-shadow: #f3ebbd;
$search-border: #e1dbbb;
$search-shadow: #f3ebbd;
$list-color: #d5c56d;

//	Footer
$top-footer-bg: #0c79c3;
$top-text: #b5e1ff;
$top-text-hover: #fff;
$top-footer-border: #0c5a91;
$bot-footer-bg: #0e639d;